<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samijaafar.gestion_budgetaire">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoprincipale"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoprincipale"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BudgetDetails"></activity>
        <activity android:name=".RadarGrapheDepense" />
        <activity android:name=".GrapheDepense" />
        <activity android:name=".SuppressionDepenses" />
        <activity android:name=".ModificationDepenses" />
        <activity android:name=".Membres" />
        <activity android:name=".AddDepenses" />
        <activity android:name=".Accueil" />
        <activity android:name=".AjoutMembres" />
        <activity android:name=".CreationGroupe" />
        <activity android:name=".TitreSelection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>